<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.bbs.persistence.BBsDao">
 
	
	<select id="selectAllPagination" resultType="bbsVO">
		<!-- SELECT * 
		FROM (
			SELECT /*+ FRIST_ROWS_100 */ROWNUM AS NUM, IP.* 
			FROM 
			( SELECT /*+ INDEX_DESC(P) */ * 
				FROM tbl_bbs B ) IP
			WHERE ROWNUM &lt;= #{pageVO.limit}
		) TBL
		WHERE NUM &gt;= #{pageVO.offset}
		 -->
		
		<!-- 
		SELECT TBL.*
		FROM(
			SELECT * 
			FROM tbl_bbs order by b_id
		) TBL
		LIMIT 10 OFFSET 0
		 -->
		SELECT *
		FROM `tbl_bbs`
		ORDER BY b_id DESC
		LIMIT #{pageVO.offset}, 10
			
	</select>
	
	<select id="selectAllSearch" resultType="bbsVO">
		SELECT *
		FROM `tbl_bbs`
		WHERE b_subject LIKE CONCAT('%',#{search},'%') or b_text LIKE CONCAT('%',#{search},'%')
		<!-- 
		WHERE `b_subject` LIKE CONCAT('%', #{search}, '%') or `b_text` LIKE CONCAT('%', #{search}, '%')
		 -->
		<!-- offset,Limit 넣어줘서 페이징할 차례 -->
		<!-- LIMIT 1, 10 -->
		LIMIT #{pageSearchVO.offset}, 10
		
	</select>
	
	<insert id="insert">
	
		INSERT INTO `secure`.`tbl_bbs`(
					`B_WRITER`,
					`B_DATE`,
					`B_TIME`,
					`B_SUBJECT`,
					`B_TEXT`,
					`B_FILE`
				) VALUES (
					#{b_writer},
					#{b_date},
					#{b_time},
					#{b_subject},
					#{b_text},
					#{b_file}
					)
					
	</insert> 
	
	<insert id="insertRecommend">
		INSERT INTO `secure`.`tbl_b_recommend`
					(
					`b_r_username`,
					`b_r_board_id`)
					VALUES
					(
					#{loginUsername},
					#{b_id})
		
	</insert>
	
	<update id="update">
		UPDATE `secure`.`tbl_bbs`
				SET
				`B_SUBJECT` = #{b_subject},
				`B_TEXT` = #{b_text},
				`B_RECOMMEND` = #{b_recommend}
				
				WHERE `B_ID` = #{b_id}
		
	</update>
	
	<update id="update_view">
		UPDATE `secure`.`tbl_bbs`
				SET
				`B_COUNT` = #{b_count}
				
				WHERE `B_ID` = #{b_id}
		
	</update>
	
 
 </mapper> 